@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    --body-font: "DM Sans", Helvetica, Arial, sans-serif;
    --title-font: "DM Sans", Helvetica, Arial, sans-serif;
    --dark-color-scheme: #111111;
    --dark-color-scheme2: #111111;
    --dark-scheme-font-color: #999999;
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color:azure;
    line-height: 30px;
    padding: 0;
    word-spacing: 0px;
}

.dark-scheme {
    color: var(--dark-scheme-font-color);
}

body.dark-scheme {
    background: var(--dark-color-scheme);
}

body.boxed {
    margin: 30px;
    overflow: hidden;
    border: solid 1px #eee;
}

body .owl-stage .owl-item {
    margin-bottom: 15px;

}

#wrapper {
    overflow: hidden;
}

.de-navbar-left #wrapper {
    overflow: visible;
}

a,
a:hover {
    text-decoration: none;
}

a.a-underline {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

a.a-underline span {
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    border-bottom: solid 1px #333;
    width: 0;
}

a.a-underline:hover span {
    width: 100%;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.my-flex {
    display: flex;
    justify-content: space-between;
}

.my-flex>.my-flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-pt10 {
    padding-top: 10px;
}

.xs-hide {
    display: none;
}

/* ============================================== */

/* Header Styles */

/* ============================================== */

header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
    background: #353f52;
    margin: 0;
}

header.smaller.has-topbar {
    height: 105px;
}

header.header-s1 {
    top: 0;
}

header .info {
    display: none;
    color: #ffffff;
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 100;
    background: #242424;

}

header.transparent {
    background: none;
}

.header-col-mid {
    position: absolute;
    top: 90px;
    width: 100%;
    padding: 0 0 0 0;
    left: 20px;
}

/* ======================================== */

/* Navigation */

/* ======================================== */

#mainmenu {
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 14px;
    margin: 0 auto;
    float: none;
}

#mainmenu ul {
    margin: 0px 0px;
    padding: 0px;
    height: 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    background: #ffffff;
}

#mainmenu li {
    margin: 0px 0px;
    padding: 0px 0px;
    display: inline;
    list-style: none;
    position: relative;
}



