@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    --body-font: "DM Sans", Helvetica, Arial, sans-serif;
    --title-font: "DM Sans", Helvetica, Arial, sans-serif;
    --dark-color-scheme: #111111;
    --dark-color-scheme2: #111111;
    --dark-scheme-font-color: #999999;
}

html {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background: #ffffff;
}

body {
    font-family: var(--body-font);
    font-size: 16px;
    font-weight: 400;
    color:azure;
    line-height: 30px;
    padding: 0;
    word-spacing: 0px;
}

.dark-scheme {
    color: var(--dark-scheme-font-color);
}

body.dark-scheme {
    background: var(--dark-color-scheme);
}

#wrapper {
    overflow: hidden
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.my-flex {
    display: flex;
    justify-content: space-between;
}

.my-flex>.my-flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sm-pt10 {
    padding-top: 10px
}

/* ============================================== */

/* Header Styles */

/* ============================================== */

header {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1000;
    background: #353f52;
    margin: 0;
}

header.smaller.has-topbar {
    height: 105px;
}

header.transparent {
    background: none;
}



